@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Outfit:wght@400;700&display=swap');

$width-size-desktop: 1440px;
$width-size-mobile: 375px;

$padding-global: 5rem 8rem;
$padding-global-mobile: .5rem 1rem;
$margin-top-hamburger: 5rem;
$margin-right-hamburger: 8rem;

$font-family-base: 'Inter', sans-serif;
$font-size-paragraph: 15px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-very-bold: 800;

$color-primary-orange: #e9ab53;
$color-primary-red: #f15e50;

$color-neutral-white:#fffdfa;
$color-neutral-gray-blue:#c5c6ce;
$color-neutral-dark-gray-blue:#5d5f79;
$color-neutral-dark-blue: #00001a;

$size-breakpoint-responsive: 1000px;